<!DOCTYPE html>
<html lang="en">

<head>
  <title>404</title>
    <link rel="icon" href="/images/download2.png">

  <link href="/css/styles.css" rel="stylesheet">

</head>

<body>

  <div class="main-content">
    {{>header}}
    <h2>{{error}}</h2>
  </div>
  {{>footer}}
</body>

</html>