<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
    <link rel="icon" href="/images/download2.png">

  <link href="/css/styles.css" rel="stylesheet">
  
</head>
<body>
  <div class="main-content">
  {{>header}}

  <p class="about-text">This site uses data from mapbox.com and darksky.net</p>
  <div class="img-container">
      <div><img class = "portrait"src="/images/41462115_2120468367966446_4686511349520400384_n.jpg">
          <p>{{Name}}</p></div>
      <div><img class = "portrait akshay"src="/images/57012690_175553490100846_8493647131512312861_n.jpg">
          <p>Akshay Sirohi</p></div>
      <div><img class = "portrait"src="/images/41704013_2316424875244054_4898754877013061952_n.jpg">
          <p>Arashdeep Kaur</p></div>
  </div>
  </div>
  {{>footer}}
</body>
</html>
