<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
    <link rel="icon" href="/images/download2.png">

  <link href="/css/styles.css" rel="stylesheet">
  
</head>
<body>
  <div class="main-content">
  {{>header}}
  <img class = "portrait"src="/images/41462115_2120468367966446_4686511349520400384_n.jpg">
  <p>{{Name}}</p>
  </div>
  {{>footer}}
</body>
</html>
