<!DOCTYPE html>
<html lang="en">
<head>
  <title>Help</title>
    <link rel="icon" href="/images/download2.png">

  <link href="/css/styles.css" rel="stylesheet">
  
</head>
<body>
  <div class="main-content">
  {{>header}}
  <p>{{help}}</p>
  </div>
  {{>footer}}
</body>
</html>
